@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=EB+Garamond:wght@500&family=Inter:wght@500&family=Montserrat:wght@500&family=Nunito:ital,wght@0,600;0,700;0,1000;1,900&family=Roboto+Serif&family=Roboto+Slab:wght@500;600&family=Roboto:ital,wght@0,700;1,500&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Nunito:ital,wght@0,600;1,700&family=Roboto+Slab&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Nunito:ital,wght@0,600;1,700&family=Roboto+Slab:wght@600&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

form {
   margin-top: 100px;
   border: 2px solid #000;
   width: 500px;
   height: 400px;
   border-radius: 10px;
   margin-top: -1px;
   margin-top: 50px;
}

.title-akun p {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}

.input-nama, .input-alamat {
    width: 300px;
}

.input-umur {
    margin-right: 10px;
    width: 145px;
}

input {
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #000;
}

button {
    width: 300px;
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: #068FFF;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: #0A6EBD;
    cursor: pointer;
}

::placeholder {
    color: #000;
}

select {
    width: 140px;
    height: 33px;
    border: 2px solid #000;
    border-radius: 5px;
}


/* Responsive */

@media (max-width: 610px) {
    form {
        width: 400px;
     }
}

@media (max-width: 530px) {
    form {
        width: 350px;
     }

     .input-nama, .input-alamat {
        width: 250px;
    }
    
    .input-umur {
        width: 115px;
    }
    
    button {
        width: 250px;
    }

    select {
        width: 115px;
    }
    
}

@media (max-width: 445px) {
    form {
        width: 300px;
     }

     .title-akun p {
        font-size: 25px;
     }

     .input-nama, .input-alamat {
        width: 200px;
    }
    
    .input-umur {
        width: 95px;
    }
    
    button {
        width: 200px;
    }

    select {
        width: 95px;
    }
    
}

@media (max-width: 370px) {
    form {
        width: 250px;
     }

     .title-akun p {
        font-size: 20px;
     }

     .input-nama, .input-alamat {
        width: 180px;
    }
    
    .input-umur {
        width: 80px;
    }
    
    button {
        width: 180px;
    }

    select {
        width: 80px;
    }
    
}

@media (max-width: 300px) {
    form {
        width: 200px;
     }

     .title-akun p {
        font-size: 20px;
     }

     .input-nama, .input-alamat {
        width: 150px;
    }
    
    .input-umur {
        width: 70px;
    }
    
    button {
        width: 150px;
    }

    select {
        width: 70px;
    }
    
}