@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,500&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 280px;
}

.all-menu-logo {
    padding-left: 280px;
}

.menu-logo {
    float: left;
    z-index: 2;
    background-color: #fff;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
}

.logo-text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo-menu-inti img {
    width: 80px;
}

.text-logo p {
    font-family: 'Roboto Slab', serif;
    margin-top: 5px;
}

.text1 {
    font-weight: bold;
    font-size: 30px;
    color: #0E2954;
}

.text2 {
    color: #1B6B93;
    font-size: 13px;
    font-weight: bold;
}

.logo-menu img {
    width: 35px;
}

.menu {
    margin-top: 50px;
}

.dashboard, .categories, .orders, .message {
    display: flex;
    padding-left: 40px;
    margin-top: 30px;
    cursor: pointer;
}

.dashboard:hover, .categories:hover, .orders:hover, .message:hover {
    background-color: #EFEFF0; 
    position: relative;
    padding-top: 7px;
    padding-bottom: 3px;
}

.dashboard:hover::before,
.categories:hover::before,
.orders:hover::before,
.message:hover::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 0;
    height: 100%;
    width: 5px; 
    background-color: #6528F7; 
}

.title-menu p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    margin-left: 13px;
    margin-top: 5px;
    font-weight: bold;
}

.title-menu a {
    text-decoration: none;
}

.button-out {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #4942E4;
    width: 150px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

.logo-logout img {
    width: 35px;
    color: #fff;
    margin-top: 7px;
}

.title-button p {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    margin-left: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #FFF;
    margin-top: 15px;
}

.button-out:hover {
    background-color: #6528F7;
} 

@media (max-width: 760px) {
    .menu-logo {
        width: 180px;
    }

    .dashboard, .categories, .orders, .message {
        padding-left: 25px;
    }

    .logo-menu-inti img {
        width: 70px;
    }

    .text1 {
        font-size: 25px;
    }

    .text2 {
        font-size: 10px;
    }

    .logo-menu img {
        width: 30px;
    }

    .button-out {
        width: 120px;
        height: 40px;
    }

    .logo-logout img {
        width: 25px;
    }

    .title-button p {
        margin-top: -1px;
        margin-top: 12px;
    }
    
}

@media (max-width: 600px) {
    .menu-logo {
        width: 140px;
    }

    .logo-menu-inti img {
        width: 50px;
    }

    .text1 {
        font-size: 20px;
    }

    .text2 {
        font-size: 7px;
    }

    .logo-menu img {
        width: 20px;
    }

    .title-menu p {
        font-size: 10px;
    }

    .button-out {
        width: 100px;
        height: 35  px;
    }

    .logo-logout img {
        width: 20px;
    }

    .title-button p {
        margin-top: -1px;
        margin-top: 9px;
    }
    
}

@media (max-width: 450px) {
    .menu-logo {
        width: 70px;
    }

    .logo-menu-inti img {
        width: 50px;
    }

    .text-logo p {
        display: none;
    }

    .logo-menu img {
        width: 25px;
        margin-left: -7px;
    }

    .title-menu p {
        display: none;
    }

    .button-out {
        width: 50px;
    }

    .logo-logout img {
        width: 18px;
        margin-top: 11px;
    }

    .title-button p {
       display: none;
    }
}




