@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=EB+Garamond:wght@500&family=Inter:wght@500&family=Montserrat:wght@500&family=Nunito:ital,wght@0,600;0,700;0,1000;1,900&family=Roboto+Serif&family=Roboto+Slab:wght@500;600&family=Roboto:ital,wght@0,700;1,500&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Nunito:ital,wght@0,600;1,700&family=Roboto+Slab&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Nunito:ital,wght@0,600;1,700&family=Roboto+Slab:wght@600&family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.paling-atas {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 8%;
    justify-content: space-between;
    background-color: #EDEDED;
}

.no-cs {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    cursor: default;
    margin-right: 50px;
}

.title-sosmed {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin-right: 15px;
    cursor: default;
}

.img-sosmed {
    display: flex;
}

.img-sosmed img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.img-sosmed img:hover {
    transform: scale(1.1);
}

@media (max-width: 470px) {
    .no-cs, .title-sosmed {
        font-size: 14px;
    }

    .img-sosmed img {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 470px) {
    .paling-atas {
        padding: 10px 4%;
    }
}

@media (max-width: 380px) {
    .title-sosmed {
        display: none;
    }
}

@media (max-width: 380px) {
    .no-cs {
        font-size: 12px;
    }

    .img-sosmed img {
        width: 15px;
        height: 15px;
    }
}




