@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Rubik:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    /* height: 100%; */
    background-color: #E8E8E8;
}

/* bagian menu dan logo */
.bagian-atas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.all-bagian-atas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.all-right {
    display: flex;
}

.all-right img {
    width: 80px;
}

.all-right p {
    margin-top: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    margin-right: 50px;
    cursor: default;
}

.all-left {
    margin-top: 20px;
}

.title-logo1 {
    font-size: 35px;
}

button {
    width: 90px;
    height: 40px;
    margin-top: 23px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.signin {
    margin-right: 10px;
    background-color: transparent;
    border: #068FFF solid 2px;
    border-radius: 5px;
}

.signin:hover {
    border: #068FFF solid 3px;
}

.signup {
    border: none;
    background-color: #068FFF;
    color: #fff;
    border-radius: 5px;
}

.signup:hover {
    background-color: #3081D0;
}

@media (max-width: 560px) {
    .all-right img {
        width: 70px;
    }

    .all-right p {
        font-size: 10px;
    }

    .title-logo1 {
        font-size: 30px;
    }

    button {
        width: 80px;
        height: 30px;
        font-size: 15px;
    }

    .all-bagian-atas {
        padding: 15px 7%;
    }
}

@media (max-width: 465px) {
    .all-right img {
        width: 60px;
    }

    .all-right p {
        font-size: 9px;
        margin-top: -1px;
        margin-top: 5px;
    }

    .title-logo1 {
        font-size: 25px;
    }

    button {
        width: 70px;
        height: 30px;
        font-size: 15px;
        margin-top: -5px;
        margin-top: 20px;
    }
}

@media (max-width: 415px) {
    .all-right p {
        display: none;
    }
}

/* bagian kontent */
.container-signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 200px;
    margin-bottom: 70px;
    background-color: #E8E8E8;
}

.konten-kiri img {
    margin-right: 50px;
}

.konten-input {
    background-color: #fff;
    padding: 20px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 35px;
    color: royalblue;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Rubik',sans-serif;
}

.kirim {
    font-size: 20px;
    width: 380px;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: linear-gradient(180deg, #5FBDFF 0%, #39A7FF 50%, #00A9FF 100%);
    color: white;
    border-radius: 4px;
}

.kirim:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(30, 144, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.kirim:active {
    transform: translate(0em, 0.2em);
}

@media (max-width: 1095px) {
    .konten-kiri img {
        width: 450px;
        margin-top: 50px;
    }
}

@media (max-width: 1025px) {
    .container-signup {
        display: block;
    }

      .konten-kiri img {
          margin: 0 auto;
          display: block;
          width: 100%;
      }

      .kirim {
        width: 100%;
      }
}

