@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

.admin-page {
    display: flex;  
}

.sidebar {
    background-color: #fff;
    box-shadow: 2px 0px 5px #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 220px; 
}

.header {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.header img {
    width: 80px;
    height: 85px;
}

.span-title {
    font-size: 25px;
    font-weight: bold;
    color: #0E2954;
}

.header p {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    margin-top: 7px;
    color: #1B6B93;
}

.menu {
    margin-top: 80px;
    margin-left: 30px;
}

.menu-link {
    display: flex;
    margin-bottom: 30px;
}

.menu-link img {
    width: 40px;
}

.menu-link p {
    margin-left: 10px;
    margin-top: 7px;
    font-family: 'Roboto Slab', serif;
    color: #000;
}

.menu-link a {
    text-decoration: none;
}

.tombol-keluar a {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    text-decoration: none;
    background-color: #5477EC;
    border-radius: 5px;
    width: 120px;
    box-shadow: 0px 0px 7px #000;
}

.tombol-keluar a:hover {
    background-color: #4942E4;
}

.tombol-keluar img {
    width: 30px;
    height: 40px;
    margin-top: 4px;
}

.tombol-keluar p {
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}

.main-content {
    background-color: #fff;
    margin-left: 200px; 
    padding: 20px; 
    overflow-x: auto; 
}

form {
    display: flex;
}

.input-group input {
    width: 340px;
    height: 40px;
    padding-left: 8px;
    border: 2px solid #000;
}

button {
    padding: 4px;
    color: #fff;
    background-color: #068FFF;
    border: 2px solid #000;
    border-left: none;
}

button:hover {
    background-color: #337CCF;
}

.search-content {
    margin-top: 20px;
}

.search-user {
    display: flex;
    background-color: red;
    height: 100px;
    margin-top: -20px;
    /* width: 1190px; */
}

@media (max-width: 700px) {
    .sidebar {
        width: 150px; 
    }

    .header p {
        display: none;
    }

    .header img {
        width: 100px;
        height: 100px;
    }

    .menu-link img {
        margin-left: 20px;
        width: 50px;
    }

    .menu-link p {
        display: none;
    }

    .tombol-keluar p {
        display: none;
    }

    .tombol-keluar img {
        width: 50px;
        height: 50px;
        margin-left: -10px;
    }

    .tombol-keluar a {
        width: 90px;
    }

    .main-content {
        margin-left: 180px;
    }
}

@media (max-width: 550px) {
    .sidebar {
        width: 120px; 
    }

    .header img {
        width: 80px;
        height: 80px;
    }

    .menu-link img {
        margin-left: 2px;
    }

    .tombol-keluar a {
        width: 70px;
    }

    .main-content {
        margin-left: 150px;
    }
}